<!DOCTYPE html>
<html>
	<head>
		<title>ResearchFields</title>
		<link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
		<script src="__PUBLIC__/js/jquery.min.js"></script>
		<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" media="all"/>
		<link href="__PUBLIC__/css/researchfield.css" rel="stylesheet" type="text/css" media="all"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
<!-- text autoHegiht-->
<script type="text/javascript">
	 $(function(){
	  $(".autoHeight").bind("keydown keyup",function(){
	   $(this).autosize();
	  }).show().autosize();
	 });
 
	 $.fn.autosize = function(){
	  $(this).height('0px');
	  var setheight = $(this).get(0).scrollHeight;
	  if($(this).attr("_height") != setheight)
	   $(this).height(setheight+"px").attr("_height",setheight);
	  else
	   $(this).height($(this).attr("_height")+"px");
	 }
</script>
<!--end text autoHegiht-->
	</head>
<body>
<!--header start here-->
<div class="header">
    <div class="container header-main">      	
			<div class="logo">
				<img src="__PUBLIC__/images/logo.jpg" alt=""/> 
			</div>
			<div class="top-nav">
				<span class="menu"> <img src="__PUBLIC__/images/icon.png" alt=""/></span>
				<nav>
					<ul class="res">
						<li><a href="{:U('Homepage/homepage')}">Home Page</a></li>
						<li><a href="{:U('Researchfield/researchfield')}"  class="active">Research Fields</a></li>
						<li><a href="{:U('Publication/publication')}">Publications and Courses</a></li>
						<li><a href="{:U('Contact/contact')}">Contact</a></li>
					</ul>
				</nav>

			<!-- script-for-menu -->
				<script>
				   $( "span.menu" ).click(function() {
					 $( "ul.res" ).slideToggle( 300, function() {
					 // Animation complete.
					  });
					 });
				</script>
			<!-- /script-for-menu -->
			</div>
			<div class="clearfix"> </div>	 	
	</div>
</div>
<!--header end here-->

<!--main start here-->
<div class="main">
    <div class="container">
      <div class="row">
		<div class="col-md-5 left">
		 	<div class="row profile">
				<div class="col-md-6 pic">
				    <img src="__PUBLIC__/images/profile.jpg" class="img-responsive"/>
				</div>
				<div class="col-md-6 resume">
					<table border="0">
						<tr><th>name</th></tr>
						<tr><td><label for="name">{$user['name']}</label></td></tr>
						<tr><th>title</th></tr>
						<tr><td><label for="title">{$user['title']}</label></td></tr>
						<tr><th>address</th></tr>
						<tr><td><label for="address">{$user['address']}</label></td></tr>
						<tr><th>phone</th></tr>
						<tr><td><label for="phone">{$user['phone']}</label></td></tr>
						<tr><th>email</th></tr>
						<tr><td><label for="email">{$user['email']}</label></td></tr>
					</table>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="row research">
				<h1>Basic Information</h1>
				<div readonly="readonly" class="area">
				{$basic_information}
				</div>
			</div>
		</div>
		<div class="col-md-7 right">
			<div class="head">
				<img src="__PUBLIC__/images/topic.jpg" alt=""/>
				<font>Current Research Topics</font>
			</div>
			<volist name="list" id="aa">
		 	<h4><a href="{:U('Researchfield/goDeatils?id='.$aa['id'])}">{$aa['title']}</a></h4>
			<?php echo substr(html_entity_decode($aa['content']),0,350);?>
			</br></br>
			<span><a href="{:U('Researchfield/goDeatils?id='.$aa['id'])}">read more</a></span>
			<hr>
			</volist>
			<div class="showpage">
			  {$page}
		    </div>
		</div>
		<div class="clearfix"> </div>
	  </div>
    </div>
  </div>
<!--main end here-->

<!--copyright start here-->
<div class="bottom">
	<div class="container bottom-nav">
		<span>
			<ul>
				<li class="li1"><a href="{:U('Homepage/homepage')}">Home Page</a></li>
				<li><a href="{:U('Researchfield/researchfield')}">Research Fields</a></li>
				<li><a href="{:U('Publication/publication')}">Publications and Courses</a></li>
				<li><a href="{:U('Contact/contact')}">Contact</a></li>
			</ul>
		</span>
		</br></br>
		<div class="copyright">
		<span>Copyright © Caoru 2015</span>
		</div>
	</div>
</div>
<!--copyright end here-->
</body>
</html>
